.jarList{
    display: grid;
    grid-template-columns: repeat(2 ,minmax(20%, 1fr));
    grid-template-rows: repeat(2 ,minmax(20%, 1fr));
    gap: 20px;
    height: calc(100vh - 300px);
    margin: 0 auto 0 10px;
}

.jarItem{
    width: 100%;
    position: relative;
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}
.jarItem:hover .jarItem_out, .jarItem.active .jarItem_out{
    transform: translateY(-70%);

}
.jarList:has(.jarItem:hover) .jarItem:not(:hover),
.jarList:has(.jarItem.active) .jarItem:not(.active){
    transform: scale(0.9);
    opacity: 0.3;
}
.jarItem .jarItem_out{
    position:absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: 100%;
    z-index: 10;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.jarItem .jarItem_in{
    position:absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: 100%;
}

.jarItem:nth-child(-n+2) .jarItem_out,.jarItem:nth-child(-n+2) .jarItem_in{
    top: 55%;
}

