.opening_modal {
    position: fixed;
    inset: 0;
    z-index: 100;
    display: grid;
    place-items: center;
}

.opening_modal__backdrop {
    position: absolute;
    inset: 0;
    background: rgba(60, 42, 33, 0.55);
    backdrop-filter: blur(3px);
}

.opening_modal__content {
    width: 50%;
    height: 50%;
    background-color: (--bg);
    position: relative;
    text-align: center;
}

.opening_modal__badge {
    width: 300px;
    height: auto;
    will-change: transform;
}

.opening_modal__text {

    margin-top: 24px;
    font-family: var(--heading);
    font-size: 32px;
    color: var(--bg);
}