.header{
    margin-bottom: 6px;
    text-align: center;
}

.header .logo img{
    margin-top: 40px;
    height: 109px;
}

.title{
    text-align: center;
    font-family: var(--heading);
    font-size: 32px;
}

